@charset "utf-8";

/* header */
header {
    padding: 40px 0 30px;
}

header .site-logo {
    text-align: center;
}

header .site-logo h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    margin: -0.12em 0px 0.5em;
}

header .site-logo h1>span {
    font-family: 'Dancing Script';
    margin: 0 10px;
}

header .site-logo p {
    color: #797979;
    font-weight: 300;
    font-size: 0.8rem;
    display: inline-block;
    position: relative;
    letter-spacing: 2px;
}

header .site-logo p::before,
header .site-logo p::after {
    content: "";
    background: #ece9e9;
    width: 35px;
    height: 1px;
    position: absolute;
    left: -50px;
    top: 9px;
}

header .site-logo p::after {
    right: -50px;
    left: unset;
}

/* main */
main .couple-section .section-title {
    margin-bottom: 35px;
    text-align: center;
    padding: 70px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../images/background.jpeg') no-repeat center;
}

main .couple-section .section-title::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #9e6c79;
    opacity: .8;
}

main .couple-section .section-title .avatar {
    width: 356px;
    height: 356px;
    padding: 10px;
    margin: 0 10px;
    background: #fff;
    z-index: 1;
    border-radius: 10px;
    position: relative;
    transition: all .3s;
}

main .couple-section .section-title .avatar img {
    border-radius: 10px;
    object-fit: cover;
}

main .couple-section .section-title .heart-flip {
    position: absolute;
    bottom: 25px;
    left: 50%;
    margin-left: -58px;
    background: #fff;
    width: 105px;
    height: 105px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

main .couple-section .section-title .heart-flip.flip .icon-two-heart {
    transform: rotateY(0);
    transition: all .3s;
}

main .couple-section .section-title .avatar .hover-info {
    --offset: 10px;
    --border-size: 1px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 36px solid transparent;
    background-color: rgba(255, 255, 255, .85);
    text-align: left;
    z-index: 1;
    transition: all .5s;
    opacity: 0;
    border-radius: 10px;
}

/* horizontal line */
main .story-section .timeline .timeline-date .content-timeline-date .h-lines,
main .couple-section .section-title .avatar .hover-info .h-lines {
    border-bottom-color: #eda2b6;
    border-top-color: #eda2b6;
    transform: scaleX(0);
    opacity: .5;
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid #eda2b6;
    border-bottom: var(--border-size) solid #eda2b6;
    top: calc(var(--border-size) * -1);
    bottom: calc(var(--border-size) * -1);
}

main .story-section .timeline .timeline-date .content-timeline-date .h-lines::before,
main .couple-section .section-title .avatar .hover-info .h-lines::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--offset) - var(--border-size));
    right: calc(var(--offset) - var(--border-size));
}

/* vertical line */
main .story-section .timeline .timeline-date .content-timeline-date .v-lines,
main .couple-section .section-title .avatar .hover-info .v-lines {
    border-right-color: #eda2b6;
    border-left-color: #eda2b6;
    transform: scaleY(0);
    opacity: .5;
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid #eda2b6;
    border-right: var(--border-size) solid #eda2b6;
    right: calc(var(--border-size) * -1);
    left: calc(var(--border-size) * -1);
}

main .story-section .timeline .timeline-date .content-timeline-date .v-lines::before,
main .couple-section .section-title .avatar .hover-info .v-lines::before {
    top: calc(var(--offset) - var(--border-size));
    bottom: calc(var(--offset) - var(--border-size));
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
}

main .couple-section .section-title .avatar:hover .hover-info {
    opacity: 1;
}

main .couple-section .section-title .avatar:hover img {
    filter: blur(4px) grayscale(80%) brightness(1.4);
}

main .story-section .timeline .timeline-date .content-timeline-date .h-lines,
main .couple-section .section-title .avatar:hover .hover-info .v-lines {
    transform: scaleY(1);
}

main .story-section .timeline .timeline-date .content-timeline-date .v-lines,
main .couple-section .section-title .avatar:hover .hover-info .h-lines {
    transform: scaleX(1);
}

.h-lines,
.v-lines {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform .8s ease;
    will-change: transform;
    z-index: -1;
}

.h-lines::before,
.v-lines::before {
    content: "";
    position: absolute;
    border: inherit;
}

.h-lines {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
    top: calc(var(--border-size) * -1);
    bottom: calc(var(--border-size) * -1);
}

.h-lines::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--offset) - var(--border-size));
    right: calc(var(--offset) - var(--border-size));
}

.v-lines {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
    right: calc(var(--border-size) * -1);
    left: calc(var(--border-size) * -1);
}

.v-lines::before {
    top: calc(var(--offset) - var(--border-size));
    bottom: calc(var(--offset) - var(--border-size));
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
}

main .couple-section .section-title .avatar .hover-info .content {
    color: #eda2b6;
}

main .couple-section .section-title .avatar .hover-info .content h1 {
    font-family: 'Marmelad';
    margin: 18px 0;
    text-align: center;
    font-size: 2rem;
    color: inherit;
}

main .couple-section .section-title .avatar .hover-info .content p {
    padding: 0 5px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
}

main .couple-section .section-title .avatar .hover-info .content .social-wrap {
    display: flex;
    position: absolute;
    bottom: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

main .couple-section .together-times {
    font-size: 3rem;
    margin-bottom: 40px;
    font-weight: 700;
    color: #eda2b6;
    text-align: center;
}

main .couple-section .together-times span {
    color: #eda2b6;
}

main .couple-section .together-times p {
    /* font-size: 2.5rem;
    margin-top: 10px;
    color: #eda2b6; */

    color: #797979;
    font-weight: 300;
    font-size: 1rem;
    display: block;
    position: relative;
    letter-spacing: 2px;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}

main .couple-section .together-times p::after {
    content: "";
    background: #ece9e9;
    width: 35px;
    height: 1px;
    position: absolute;
    left: -50px;
    top: 9px;
}

main .couple-section .together-times p::before {
    content: "";
    background: #ece9e9;
    width: 35px;
    height: 1px;
    position: absolute;
    right: -50px;
    top: 9px;
}

main .story-section {
    height: 100vh;
}

main .story-section .section-title {
    margin-bottom: 35px;
    text-align: center;
    padding: 70px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../images/background.jpeg') no-repeat center;
}

main .story-section .section-title::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #9e6c79;
    opacity: .8;
}

main .story-section .section-title h1 {
    color: #fff;
    font-size: 3rem;
    z-index: 1;
    position: relative;
    margin: 0 auto 45px;
    font-weight: 700;
}

main .story-section .section-title h1::after {
    content: '';
    position: absolute;
    bottom: -40px;
    left: 50%;
    width: 100%;
    max-width: 189px;
    height: 24px;
    opacity: .5;
    background: url('../images/icons/title.svg') no-repeat center;
    transform: translateX(-50%);
}

main .story-section .timeline {
    position: relative;
    width: 50%;
    flex: 0 0 auto;
    margin: auto;
}

main .story-section .timeline::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    background: #eda2b6;
    clear: both;
    transition: height .3s linear;
}

main .story-section .timeline .timeline-date:first-child {
    padding-top: 0;
}

main .story-section .timeline .timeline-date {
    clear: both;
    padding: 7px 0;
    position: relative;
    z-index: 1;
    text-align: center;
    width: 100%;
    background-color: #fff;
    margin-bottom: 70px;
}

.content-timeline-date {
    --offset: 7px;
    --border-size: 1px;
    font-family: 'Marmelad';
    color: #eda2b6;
    font-size: 27pt;
    position: relative;
    padding: 4px 32px;
    /* width: fit-content; */
    margin: auto;
}

.timeline-date .content-timeline-date {
    width: fit-content;
}

main .story-section .timeline .gallery-container {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    position: relative;
    margin-bottom: 100px;
}

main .story-section .timeline .gallery-container::before {
    content: '';
    width: 424px;
    height: 398px;
    position: absolute;
    top: -60px;
    right: -150px;
    z-index: -1;
    background: url('../images/flower-medium.svg') no-repeat center center;
}

main .story-section .timeline .gallery-container::after {
    content: '';
    width: 424px;
    height: 398px;
    position: absolute;
    bottom: -75px;
    left: -165px;
    z-index: -1;
    background: url('../images/flower-medium.svg') no-repeat center center;
    transform: scaleY(-1) rotate(-90deg);
}

main .story-section .timeline .gallery-container .timeline-gallery-wrapper {
    /* grid-column: 1/span 18; */
    grid-column: 1/12;
    grid-row: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
}

main .story-section .timeline .gallery-container .timeline-gallery-wrapper .item {
    text-align: center;
    box-shadow: 0 0 10px #ddd;
}

main .story-section .timeline .gallery-container .timeline-gallery-wrapper .item img {
    width: 100%;
    height: auto;
    max-width: 500px;
}

main .story-section .timeline .description-wrapper {
    grid-column: 14/-1;
    grid-row: 1;
    margin-top: 10%;
    z-index: 1;
    position: relative;
}

main .story-section .timeline .description-wrapper .description {
    transition: transform .5s ease-in-out;
    background: #eda2b6;
    border: 10px solid #fff;
    padding: 30px;
    display: inline-block;
    position: relative;
    z-index: 10;
    text-align: center;
}

main .story-section .timeline .description-wrapper .description .content-timeline-date {
    padding: 30px 20px;
    --offset: 9px;
}

main .story-section .timeline .description-wrapper .description .content-timeline-date .h-lines {
    border-top-color: rgba(225, 225, 225, .3);
    border-bottom-color: rgba(225, 225, 225, .3);
}

main .story-section .timeline .description-wrapper .description .content-timeline-date .v-lines {
    border-left-color: rgba(225, 225, 225, .3);
    border-right-color: rgba(225, 225, 225, .3);
}

main .story-section .timeline .description-wrapper .description .content-timeline-date h4 {
    float: none;
    text-align: center;
    margin: 0 auto 15px;
    position: relative;
    padding-bottom: 40px;
    color: #fff;
    display: inline-block;
    font-family: 'Marmelad';
    font-size: 2rem;
}

main .story-section .timeline .description-wrapper .description .content-timeline-date p {
    color: #fff;
    font-size: 1rem;
    line-height: 2;
}

main .story-section .timeline .description-wrapper .description .content-timeline-date p a {
    color: #fff;
}

main .story-section .timeline .description-wrapper .description .content-timeline-date h4::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 19px;
    background-position: center center;
    background-image: url('../images/icons/title.svg');
    background-repeat: no-repeat;
    opacity: .4;
}

main .story-section .timeline-footer {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    padding-bottom: 70px;
}

main .story-section .timeline-footer>* {
    margin: auto;
}

main .story-section .timeline-footer h1 {
    color: #eda2b6;
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 30px;
}

.moveToBottom,
.moveToTop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    display: none;
    align-items: center;
    justify-content: center;
    border: 4px solid #eda2b6;
    border-radius: 100%;
    background: #fff;
    z-index: 1;
    cursor: pointer;
}

.moveToBottom {
    left: 40px;
    right: unset;
}

main .story-section .timeline .gallery-container.letter {
    grid-template-columns: repeat(1, 1fr);
}

.letter a {
    text-align: center;
    color: #eda2b6;
    font-weight: bold;
    background: #fff;
    padding: 20px 0;
}