@media screen and (max-width: 500px) {
    main .couple-section .section-title .avatar .hover-info .content h1 {
        font-size: 1.3rem;
        margin: 10px 0;
    }

    main .couple-section .section-title .avatar .hover-info .content {
        font-size: .5rem;
    }

    main .story-section .timeline {
        width: 90%;
    }

    main .story-section .timeline .gallery-container .timeline-gallery-wrapper {
        grid-column: 1/-1;
    }

    main .story-section .timeline .description-wrapper {
        grid-column: 2/24;
        grid-row: 2;
    }

    main .story-section .timeline .gallery-container::after,
    main .story-section .timeline .gallery-container::before {
        display: none;
    }

    main .couple-section .together-times {
        font-size: 1.5rem;
    }

    main .story-section .timeline .description-wrapper .description .content-timeline-date h4 {
        font-size: 1.5rem;
    }

    main .story-section .timeline .description-wrapper .description .content-timeline-date p {
        font-size: .8rem;
    }

    main .story-section .section-title h1,
    .timeline-date .content-timeline-date {
        font-size: 2rem;
    }

    main .story-section .section-title {
        padding: 50px 0;
    }

    main .couple-section .section-title .avatar {
        height: 200px;
    }

    main .couple-section .section-title .avatar:hover {
        height: 356px;
    }

    .moveToBottom,
    .moveToTop {
        width: 30px;
        height: 30px;
        bottom: 10px;
        right: 10px;
        border-width: 2px;
    }

    .moveToBottom {
        left: 10px;
        right: unset;
    }
}